<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NAOP - Node Asterisk Operator Panel</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-vue.min.css">
    <link rel="stylesheet" href="/css/vue.status-indicator.css">
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/naop.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/lodash.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div id="app">
      <b-container fluid>
        <b-row>
          <b-col cols="2" class="col-peer" v-for="peer in peerList">
            <b-popover :target="'popoverCardPeer' + peer.extension"
                triggers="hover focus"
                :content="'Hola baka'">
                <b>Host: </b> {{peer.address}} <br />
                <b>Status: </b> {{peer.statusLog}}
            </b-popover>
            <b-card class="card-peer">
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                positive pulse
                v-if="peer.status == EXT_STATE.IDLE">
              </status-indicator>
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                negative pulse
                v-else-if="peer.status == EXT_STATE.BUSY">
              </status-indicator>
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                intermediary pulse
                v-else-if="peer.status == EXT_STATE.IN_USE || peer.status == EXT_STATE.RINGING">
              </status-indicator>
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                pulse v-else>
              </status-indicator>

              <b>{{peer | printPeer}}</b>
              <div v-for="call in peer.calls">
                <span :class="{
                  mdi: true,
                  'mdi-call-made': call.callType == 'outgoing',
                  'mdi-call-received': call.callType == 'incoming',
                  'text-success': true
                }">
                </span>
                {{call.exten}}
              </div>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </div>

    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue.status-indicator.min.js"></script>
    <script type="text/javascript" src="/js/polyfill.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-vue.min.js"></script>
    <script type="text/javascript" src="/js/naop.js"></script>
  </body>
</html>
