<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NAOP - Node Asterisk Operator Panel</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-vue.min.css">
    <link rel="stylesheet" href="/css/vue.status-indicator.css">
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/naop.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/lodash.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div id="app">
      <b-container fluid>
        <b-row class="justify-content-md-center">
          <b-col cols="5" class="search-input">
              <b-input class="text-center mb-2" placeholder="Example Search: 101, 101-110, name" v-model="filterExtension"/>
          </b-col>

          <!-- Just for cleaning -->
          <b-col cols="12"></b-col>

          <b-col cols="2" class="col-peer" v-for="peer in peerList">
            <b-popover :target="'popoverCardPeer' + peer.extension"
                triggers="hover focus">
                <b>Host: </b> {{peer.address}} <br />
                <b>Status: </b> {{peer.statusLog}}
            </b-popover>
            <b-card class="card-peer h-100">
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                active pulse
                v-if="peer.status == EXT_STATE.IDLE">
              </status-indicator>
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                negative pulse
                v-else-if="peer.status == EXT_STATE.BUSY">
              </status-indicator>
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                intermediary pulse
                v-else-if="peer.status == EXT_STATE.RINGING">
              </status-indicator>
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                positive pulse
                v-else-if="peer.status == EXT_STATE.IN_USE || peer.status == EXT_STATE.ON_HOLD">
              </status-indicator>
              <status-indicator
                :id="'popoverCardPeer' + peer.extension"
                pulse v-else>
              </status-indicator>

              <b>{{peer | printPeer}}</b>
              <div class="peerCalls">
                <div v-for="(call, i) in peer.calls" class="peerCall">
                  <span :class="{
                    callAction: true,
                    mdi: true,
                    'mdi-phone-forward': call.callType == 'outgoing',
                    'mdi-phone-incoming': call.callType == 'incoming',
                    'text-warning': call.channelState != CHAN_STATE.LINE_IS_UP,
                    'text-success': call.channelState == CHAN_STATE.LINE_IS_UP
                  }"
                  :id="'popoverCardPeer' + peer.extension+'Call'+i">
                  </span> {{call.exten}}
                  <call-timer class="callTimer" :call="call" v-if="call.time"></call-timer>
                  <b-popover
                      :target="'popoverCardPeer' + peer.extension+'Call'+i"
                      triggers="click">
                      <b-button size="sm" variant="danger" v-b-tooltip.hover title="Hangup">
                        <i class="mdi mdi-phone-hangup"></i>
                      </b-button>
                      <b-button size="sm" variant="warning" v-b-tooltip.hover title="Hold">
                          <i class="mdi mdi-phone-paused"></i>
                        </b-button>
                      <!-- <b-button size="sm" variant="info" v-b-tooltip.hover title="Transfer Call">
                        <i class="mdi mdi-phone-outgoing"></i>
                      </b-button> -->
                  </b-popover>
                </div>
              </div>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </div>

    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="/js/vue.status-indicator.min.js"></script>
    <script type="text/javascript" src="/js/polyfill.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-vue.min.js"></script>
    <script type="text/javascript" src="/js/naop.js"></script>
  </body>
</html>
