html,
body {
  height: 100%;
}

body {
  font-size: 12px;
  background-color: #F6F6F6;
}

.popover-body {
  font-size: 10px;
  padding: 5px;
}

.col-peer {
  padding: 5px;
}

.card-peer {
  padding: 5px 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  border-width: 0px;
  background-color: #e7fff5;
}

.card-peer-unavailable {
  opacity: .4;
}

.card-peer-active {
  background-color: #ffd4d4;
}

.card-peer .card-body {
  padding: 0px;
}

.tooltip {
  font-size: 10px;
}

.callAction {
  display: inline-block;
  width: 11px;
  cursor: pointer;
}

.peerCall:first-child {
  border-top: 1px dashed #DDD;
}

.card-peer-active .peerCall {
  border-color: #927474;
}

.peerCall {
  border-bottom: 1px dashed #DDD;
  position: relative;
}

.callTimer {
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.search-input {
  margin-top: 10px;
}

.search-input .form-control {
  font-size: 12px;
  height: calc(2rem + 2px);
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  border-radius: 0px;
}

.card-panel {
  margin-bottom: 10px;
}

.card-panel > .card-body {
  background-color: #444;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-panel > .card-header {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #FFF;
}

.peer-member {
  display: block;
  border-bottom: 1px #DDD dashed;
}

.peer-member:first-child {
  border-top: 1px #DDD dashed;
}
