body {
  font-size: 12px;
  background-color: #F6F6F6;
}

.popover-body {
  font-size: 10px;
  padding: 5px;
}

.col-peer {
  padding: 5px;
}

.card-peer {
  padding: 5px 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  border-width: 0px;
}

.card-peer .card-body {
  padding: 0px;
}

.peerCall:first-child {
  border-top: 1px dashed #DDD;
}

.peerCall {
  border-bottom: 1px dashed #DDD;
  position: relative;
}

.callTimer {
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.search-input {
  margin-top: 10px;
}

.search-input .form-control {
  font-size: 12px;
  height: calc(2rem + 2px);
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  border-radius: 0px;
}
